---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="404 Page Not Found">
  <div
    class="flex h-[calc(100vh-100px)] flex-col items-center justify-center text-center"
  >
    <h1 class="font-mono text-4xl font-black">404</h1>
    <p class="font-mono text-3xl font-extrabold">Page not found</p>
  </div>
</BaseLayout>
