---
import { Link } from "../components/Link";
import { Paragraph } from "../components/Paragraph/Paragraph";
import Project from "../components/Project.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getProjects } from "../lib/projects";

const projects = await getProjects();
---

<BaseLayout
  title="Swarnim Walavalkar — Hacks"
  description="Some of things I've built."
>
  <main class="prose">
    <h1 class="text-2xl">Hacks</h1>

    <Paragraph>Some of the cool things I've built in the past</Paragraph>

    <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3">
      {projects.map((project) => <Project {project} />)}
    </div>

    <div class="mt-10">
      <Link
        target="_blank"
        href="https://github.com/SwarnimWalavalkar?tab=repositories&type=source"
      >
        <span class="text-sm text-neutral-500 transition-colors duration-200 hover:text-neutral-300">View all repositories &rarr;</span>
      </Link>
    </div>
  </main>
</BaseLayout>
