---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Paragraph } from "../components/Paragraph/Paragraph";
import { Link } from "../components/Link";
---

<BaseLayout
  title="Swarnim Walavalkar"
  description="Swarnim's small corner on the internet"
>
  <h1 slot="header-content" class="text-slate-100">Swarnim Walavalkar</h1>

  <main class="prose">
    <Paragraph class="mt-6">
      <span class="font-medium italic">Hi there!</span> I'm Swarnim — I am a
      creator at heart, viscerally a <a
        target="_self"
        href="/hacks"
        class="underline decoration-gray-50/40 decoration-2 underline-offset-3 hover:decoration-gray-50/70"
        >builder</a
      >, and epistemologically a <a
        target="_self"
        href="/bigquestions"
        class="underline decoration-gray-50/40 decoration-2 underline-offset-3 hover:decoration-gray-50/70"
        >scientist</a
      >. I am deeply curious and love building my way to answers.
    </Paragraph>

    <Paragraph class="mt-2">
      What drives me is making things people find genuinely joyful or useful.
    </Paragraph>

    <Paragraph class="mt-2">
      I care deeply about artistry, craftsmanship, and passion.
      I also sometimes <a
        target="_self"
        href="/trove"
        class="underline decoration-gray-50/40 decoration-2 underline-offset-3 hover:decoration-gray-50/70"
        >curate things</a
      > that carry that same feeling.
    </Paragraph>

    <Paragraph class="mt-4">
      Currently: building for builders
      <strong>
        <Link href="https://devfolio.co/" target="_blank">@Devfolio</Link>
      </strong>
    </Paragraph>
  </main>
</BaseLayout>
