---

---

<div class="flex gap-x-4 text-neutral-500">
  <a href="/work" target="_self" class="underline-offset-4 hover:underline"
    >work</a
  >
  <a href="/hacks" target="_self" class="underline-offset-4 hover:underline"
    >hacks</a
  >
  <a href="/trove" target="_self" class="underline-offset-4 hover:underline"
    >trove</a
  >
  <a href="/posts" target="_self" class="underline-offset-4 hover:underline"
    >writing</a
  >
</div>
