{{ define "main" }}
<section id="about">
  <!-- {{ if isset .Site.Params "description" }} {{ .Site.Params.description |
  $.Page.RenderString }} {{ end }} -->
  {{ if isset .Site.Params "social" }}

  <p>Software Engineer | Building software as an instrument of progress</p>
  <p>
    - Building a platform for the most compassionate, empathetic and supportive
    <br />
    community on the internet to destigmatize mental health
    <a target="_blank" href="https://nowandme.com">@NowAndMe</a>
  </p>
  <p>
    - Accelerating the transition to a better future of education and equal
    opportunity in tech
    <a target="_blank" href="https://navgurukul.org">@NavGurukul</a>
  </p>

  <hr />

  <p>
    Connect with me on {{ $length := (len .Site.Params.social) }} {{ range
    $index, $elem := .Site.Params.social}} {{ if eq $elem.name "email" }}
    <a
      class="icon"
      target="_blank"
      rel="noopener"
      href="mailto:{{ $elem.link }}"
      aria-label="Email"
    >
      <i class="fas fa-envelope" aria-hidden="true"></i>
    </a>
    {{ else if eq $elem.name "rss" }}
    <a
      class="icon"
      target="_blank"
      rel="noopener"
      href="{{ $elem.link }}"
      aria-label="RSS"
    >
      <i class="fas fa-rss" aria-hidden="true"></i>
    </a>
    {{ else if eq $elem.name "scholar" }}
    <a
      class="icon"
      target="_blank"
      rel="noopener"
      href="{{ $elem.link }}"
      aria-label="Google Scholar"
    >
      <i class="fas fa-graduation-cap" aria-hidden="true"></i>
    </a>
    {{ else }}
    <a
      class="icon"
      target="_blank"
      rel="noopener"
      href="{{ $elem.link }}"
      aria-label="{{ $elem.name }}"
    >
      <i class="fab fa-{{ lower $elem.name }}" aria-hidden="true"></i>
    </a>
    {{ end }} {{ if (lt (add $index 2) $length) }} {{- print " , " -}} {{ else
    if (lt (add $index 1) $length) }} {{- print " and " -}} {{ else }} {{- print
    "." -}} {{ end }} {{ end }}
  </p>
  {{ end }}
  <p>
    Or shoot me an email at
    <code>swarnim.walavalkar(at)gmail.com"</code>
  </p>
</section>

{{ $showProjectsList := false }} {{ if (isset .Site.Params "showprojectslist")
}} {{ $showProjectsList = .Site.Params.showProjectsList }} {{ else if
.Site.Data.projects }} {{ $showProjectsList = true }} {{ end }} {{ if
$showProjectsList }}
<section id="projects">
  <span class="h1"><a href="/experiments">Technical Experiments</a></span>
  <ul class="project-list">
    {{ range .Site.Data.projects.list }}
    <li class="project-item">
      <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
    </li>
    <br />
    {{ end }}
  </ul>
</section>

<section id="oss">
  <span class="h1"><a href="/oss">Open-Source Projects</a></span>
  <ul class="project-list">
    {{ range .Site.Data.oss.list }}
    <li class="project-item">
      <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
    </li>
    {{ end }}
  </ul>
</section>

<section id="notes">
  <span class="h1"><a href="/notes">Notes</a></span>
  {{ $showAllNotesOnHomepage := false }} {{ if (isset .Site.Params
  "showallnotesonhomepage") }} {{ $showAllNotesOnHomepage =
  .Site.Params.showAllNotesOnHomepage }} {{ end }} {{ $dataFormat :=
  .Site.Params.dateFormat | default "2006-01-02" }} {{ $notes := (sort ( where
  site.RegularPages "Type" "in" "note" ) "Date" "desc") }} {{ if
  $showAllNotesOnHomepage }}
  <ul class="post-list">
    {{ range (.Paginate $notes).Pages }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished"
          >{{ .Date.Format $dataFormat }}</time
        >
      </div>
      <span
        ><a href="{{ .Permalink }}"
          >{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{
          end }}</a
        ></span
      >
    </li>
    {{ end }}
  </ul>

  {{ partial "pagination.html" . }} {{ else }}
  <ul class="post-list">
    {{ .Scratch.Set "noteCount" 5 }} {{ if isset .Site.Params "notesonhomepage"
    }} {{ .Scratch.Set "noteCount" .Site.Params.notesOnHomePage }} {{ end }} {{
    range (first (.Scratch.Get "noteCount") $notes) }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished"
          >{{ .Date.Format $dataFormat }}</time
        >
      </div>
      <span
        ><a href="{{ .Permalink }}"
          >{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{
          end }}</a
        ></span
      >
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>

<section id="journals">
  <span class="h1"><a href="/journals">Thought Journals</a></span>
  {{ $showAllJournalsOnHomepage := false }} {{ if (isset .Site.Params
  "showalljournalsonhomepage") }} {{ $showAllJournalsOnHomepage =
  .Site.Params.showAllJournalsOnHomepage }} {{ end }} {{ $dataFormat :=
  .Site.Params.dateFormat | default "2006-01-02" }} {{ $journals := (sort (
  where site.RegularPages "Type" "in" "journal" ) "Date" "desc") }} {{ if
  $showAllJournalsOnHomepage }}
  <ul class="post-list">
    {{ range (.Paginate $journals).Pages }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished"
          >{{ .Date.Format $dataFormat }}</time
        >
      </div>
      <span
        ><a href="{{ .Permalink }}"
          >{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{
          end }}</a
        ></span
      >
    </li>
    {{ end }}
  </ul>

  {{ partial "pagination.html" . }} {{ else }}
  <ul class="post-list">
    {{ .Scratch.Set "journalCount" 5 }} {{ if isset .Site.Params
    "journalsonhomepage" }} {{ .Scratch.Set "journalCount"
    .Site.Params.journalsOnHomePage }} {{ end }} {{ range (first (.Scratch.Get
    "journalCount") $journals) }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished"
          >{{ .Date.Format $dataFormat }}</time
        >
      </div>
      <span
        ><a href="{{ .Permalink }}"
          >{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{
          end }}</a
        ></span
      >
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>
{{ end }} {{ end }}
